@import url("profile_styles/css");

@font-face {
  font-family: Spotify;
  src: url(../fonts/GothamMedium.ttf);
}

body {
    color: #1faa50;
    font-family: Spotify;
    background-color: #373737;
}

@font-face {
  font-family: Spotify;
  src: url(../fonts/GothamMedium.ttf);
}
@font-face {
font-family: Winter;
src: url(../fonts/epkyouka.ttf);
}

.content {
  margin-left: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center;
  /* margin-top: -80px;  */
}

.queue-content {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 20%;
  left: 50%;
  background-color: #2c2f33;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: -1; /* Ensure it's above other content */
  width: auto;
  max-width: 600px; /* Adjust based on your needs */
}


/* NAV BAR CSS */

*,
::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  justify-content: center;
  align-items: center;
}

.welcome{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
}

.weltext{
  font-size: 24px;
  color: #ffffffaf;
}

.friend{
  color: #1faa50
}


nav {
  z-index: 1;
  display: flex;
  align-content: center;
  background: #1a1a1a;
  box-shadow: rgba(31, 170, 80, 0.8) 0px 15px 20px -5px;
  border-bottom:rgba(30, 112, 64, 0.493) 3px solid;
}
nav.navbar{
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.logo{
  display: flex;
  height: 75px;
  width: 75px;
}


.nav--list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.item {
  position: relative;
  width: 100px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  cursor: pointer;
  margin: 0 10px;
  border: 2px solid #f2c75c;
  overflow: hidden;
}

.logout{
  position: relative;
  width: 100px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  cursor: pointer;
  margin: 0 10px;
  border: 2px solid rgb(50 159 160);
  overflow: hidden;
}

.logout a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  width: 140px;
  height: 40px;
  text-transform: uppercase;
  color: rgb(50 159 160);
  z-index: 10;
  text-decoration: none;
  transition: color 200ms ease;
}

.logout button{
  font-size: 16px;
  text-transform: uppercase;
  color: rgb(50 159 160);
  z-index: 10;
  text-decoration: none;
  transition: color 200ms ease;
  background: none;
  border: none;
}

.logout:hover a {
  color: #003b49;
}

.logout:hover button {
  color: #003b49;
}

.logout:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  transform: skew(30deg);
  background: rgb(50 159 160);
  transition: width 400ms ease;
}

.logout:hover:before {
  width: 120%;
}

.discover{
  position: relative;
  width: 100px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  cursor: pointer;
  margin: 0 10px;
  border: 2px solid #f2c75c;
  overflow: hidden;
}

.discover a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  width: 140px;
  height: 40px;
  text-transform: uppercase;
  color: #f2c75c;
  z-index: 10;
  text-decoration: none;
  transition: color 200ms ease;
}

.discover button{
  font-size: 16px;
  text-transform: uppercase;
  color: #f2c75c;
  z-index: 10;
  text-decoration: none;
  transition: color 200ms ease;
  background: none;
  border: none;
}

.discover:hover a {
  color: #003b49;
}

.discover:hover button {
  color: #003b49;
}

.discover:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  transform: skew(30deg);
  background: #f2c75c;
  transition: width 400ms ease;
}

.discover:hover:before {
  width: 120%;
}

.item:nth-child(6){
  border: 2px solid green;
  color: green;
}

.item a.log{
  color: rgb(16, 189, 16);
}


.item a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  width: 140px;
  height: 40px;
  text-transform: uppercase;
  color: #f2c75c;
  z-index: 10;
  text-decoration: none;
  transition: color 200ms ease;
}

.item button {
  font-size: 16px;
  text-transform: uppercase;
  color: #f2c75c;
  z-index: 10;
  text-decoration: none;
  transition: color 200ms ease;
  background: none;
  border: none;
}

.item:hover a {
  color: #003b49;
}

.item:hover button {
  color: #003b49;
}

.item:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  transform: skew(30deg);
  background: #f2c75c;
  transition: width 400ms ease;
}

.item:hover:before {
  width: 120%;
}

.item:nth-child(2):before {
  transform: skew(-20deg);
}

.item:nth-child(3):before {
  transform: skew(0deg);
}

.item:nth-child(4):before {
  transform: skew(25deg);
}

.item:nth-child(6):before {
  width: 180px;
  height: 0%;
  bottom: 0px;
  transition: height 400ms ease;
  background: #1faa50;
}

.item:nth-child(6):hover:before {
  height: 100%;
}

/* DROPDOWN ANIMATION */

.slide1 {
  clear: both;
  width: 100%;
  height: 0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide1 li {
  border: 2px #f2c75c solid;
  margin: 16px;
  padding: 8px;
  color: #ffffffaf; 
}

#touch1 {
  position: absolute; 
  opacity: 0; 
  height: 0px;
}    

#touch1:checked + .slide1 {
  height: 300px;
} 

.slide2 {
  clear: both;
  width: 100%;
  height: 0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide2 li {
  border: 2px #f2c75c solid;
  margin: 16px;
  padding: 8px;
  color: #ffffffaf; 
}

#touch2 {
  position: absolute; 
  opacity: 0; 
  height: 0px;
}    

#touch2:checked + .slide2 {
  height: 300px;
} 

.slide3 {
  clear: both;
  width: 100%;
  height: 0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide3 li {
  border: 2px #f2c75c solid;
  margin: 16px;
  padding: 8px;
  color: #ffffffaf; 
}

#touch3 {
  position: absolute; 
  opacity: 0; 
  height: 0px;
}    

#touch3:checked + .slide3 {
  height: 300px;
} 

/* SIDE BAR CSS */

.sidebar-container{
  height: 100%;
  width: 250px;
  position: fixed;
  left: 0;
  background-color:#1a1a1a;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.sidebar{
  height: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 120px;
  padding: 0 20px;
}

.sidebar p {
  color: #fff;
  font-size: 14px;
  margin-top: 2px;
  padding: 0 20px;
  text-align: center;
}

/* CHANGES ^^ */

.tool{
  color: #ffffffaf;
  position: relative;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border-bottom: #373737 2px solid;
  outline: none;
  background-color: transparent;
  overflow: hidden;
  margin-top: 15px;
}

.tool:hover{
  box-shadow: rgba(31, 170, 80, 0.8) 0px 3px 2px -.9px;
}

.tool button{
  background: transparent;
  border: none;
}

.tool a{
  color: #ffffffaf;
  font-size: 18px;
}

.album-cover {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 20px auto;
}

.album-center{
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.4);
}

.album-cover img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

.albimg{
  border-radius: 5px;
}

.play-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 48px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.album-cover:hover .play-overlay {
  opacity: 1;
}

.fa-play-circle:before {
  content: "\f01d"; /* This is the Font Awesome play circle icon unicode */
}

.song-details {
  width: 100%; /* Adjust as needed */
}

.btn {
  display: block; /* Ensure the button is a block element */
  text-decoration: none; /* Remove underline from links */
  color: #1faa50;
}

/* SIDEBAR BUTTON */
.button-disc {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #1faa50;
  cursor: pointer;
  display: inline-block;
  font-family: Spotify;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin: 15px;
}

.button-disc:focus {
  text-decoration: none;
}

.button-disc:hover {
  text-decoration: none;
}

.button-disc:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-disc:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-disc {
    padding: 10px 20px;
  }
}

#placeholder {
  display: none; 
  margin-left: 250px;
}

/* ALIGNMENTS */

.spacer20 {
  margin-top: 20px;
}

.spacer40 {
  margin-top: 40px;
}

.sidebutton{
  position: relative;
  width: 120px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  cursor: pointer;
  margin: 0 10px;
  border: 2px solid #f2c75c;
  overflow: hidden;
}

.sidebutton a{
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  width: 140px;
  height: 40px;
  text-transform: uppercase;
  color: #f2c75c;
  z-index: 10;
  text-decoration: none;
  transition: color 200ms ease;
}

.sidebutton button{
  font-size: 12px;
  text-transform: uppercase;
  color: #f2c75c;
  z-index: 10;
  text-decoration: none;
  transition: color 200ms ease;
  background: none;
  border: none;
}


.sidebutton:hover button {
  color: #003b49;
}
.sidebutton:hover a{
  color: #003b49;
}

.sidebutton:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  transform: skew(30deg);
  background: #f2c75c;
  transition: width 400ms ease;
}

.sidebutton:hover:before {
  width: 120%;
}

/* SIDEBAR TOGGLE ANIMATION */
.openbtn {
  font-size: 16px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  margin-top: 120px;
  margin-left: 50px;
  transition: all .4s;
}

.openbtn:hover {
  background-color: #444;
}

.closebtn{
  margin-top: 10px;
  background: #111;
  font-size: 16px;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
}

.closebtn:hover {
  background-color: #444;
}

#opens{
  transition: all .4s;
  overflow: hidden;
}

.hidden{
  width: 0;
  height: 0;
  padding: 0;
  color: none;
  font-size: 0px;
  transition: all .4s;
}
/* END SIDEBAR TOGGLE */


.navigation-buttons {
  display: flex;
  justify-content: center; /* Center the buttons container */
  margin-top: 20px; /* Add some space above the buttons */
}

.navigation-buttons button {
  margin: 0 10px; /* Space out the buttons */
  /* Add more button styling as needed */
}

.queue-details {
  text-align: center; /* Center text within the container */
}

.queue-details p {
  margin: 0 auto; /* Center paragraphs */
  padding: 10px; /* Add some padding for spacing */
}

.playlist-analyzer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 42%;
  bottom: 2%;
  background-color: #2c2f33;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 0; /* Ensure it's above other content */
  width: auto;
  max-width: 600px; /* Adjust based on your needs */
  margin-right: 20px;
  margin-bottom: 60px;
}

.playlist-analyzer h2 {
  margin-bottom: 20px; 
}

#recommended-songs-section h3 {
  color: #ffffffaf;
  margin-bottom: 20px;
  margin-top: 40px;
}

#recommended-songs-table {
  margin: 0 auto; 
  border-collapse: collapse; 
  width: 90%;
  border-spacing: 0;
}

#recommended-songs-table th,
#recommended-songs-table td {
  padding: 20px; 
  text-align: left;
  border-bottom: 2px solid #000; 
}

#recommended-songs-table th {
  background-color: #1a1a1a; 
  color: #dadadaaf;
}

#recommended-songs-table td {
  background-color: rgba(31, 170, 80, 0.8); 
  color: rgb(14, 13, 13); 
}

#recommended-songs-table tr:hover {
  background-color: #ddd; 
}

#recommended-songs-table img {
  width: 200px; 
  height: 200px; 
}

.analysis-feature {
  background-color: #ddd;
  border-radius: 20px;
  padding: 3px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}

.analysis-feature .progress {
  background-color: #1faa50;
  border-radius: 18px;
  height: 20px;
  width: 0%;
  color: white;
  text-align: center;
  line-height: 20px;
  transition: width 1s;
}

.genre-list {
  list-style-type: none;
  padding: 0;
}

.genre-list li {
  background-color: #444;
  margin: 5px 0;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.inside-text {
  color: white; /* Text color inside the bar */
  white-space: nowrap;
}

.outside-text {
  color: black; /* Text color outside the bar */
  margin-left: 5px; /* Spacing between bar and text */
  white-space: nowrap;
  margin-left: 5px; /* Spacing between bar and text */
  align-self: center; /* Align the text vertically */
}

.topsongww{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  background-color: #2c2f33;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 0; 
  width: auto;
  max-width: 600px; /* Adjust based on your needs */
}

.text{
  color: #ffffffaf;
}

.page-marker{
  display: flex;
  color: #ffffffaf;
  font-family: Winter;
  font-size: 40px;
  margin-left: 30px;
  margin-bottom: 20px;
  font-style: italic;
  position: fixed;
  bottom: 0;
}

.loaded{
  top: 53%;
  bottom: 2%;
}